body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/*for arranging photos in rows and columns with the same size*/

.color-bar{
    background-color: #f44336;
    display: flex;
    justify-content: space around;
    align-items: center;
    padding: 10px;
}

body {
    background-color: #ffffff; /* Set your desired background color */
}

/*for the hover effect on linked pages*/
.link{
    color:white;
    text-decoration: none;
}

link:hover{
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}

.photo {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}
h1{
    color: purple;
}
